/* Styles go here */

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  cursor: pointer;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  height: 60px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  transition: color 0.3s;
  cursor: pointer;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active {
  position: relative;
  color: #00acdc;
}

.nav__link.is-active::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #00acdc;
}
